.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-menu {
  background-color: darkblue;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease;
  opacity: 0;
  z-index: 999;
}

.active {
  max-height: 300px;
  opacity: 1;
}

.nav-menu p {
  padding: 15px;
  margin: 0;
}

.nav-menu p a {
  color: whitesmoke;
  text-decoration: none;
}

.nav-menu p a:hover {
  text-decoration: underline;
}

.menu-icon {
  color: whitesmoke;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  background: none;
  border: none;
}

.menu-icon:active {
  transform: scale(1.5);
}

.header h1 {
  font-size: 25px;
  margin-left: 15px;
  margin-right: 15px;
  white-space: nowrap;
}

.nav img {
  height: 30px;
}

.logo-icon-mobile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
