/* Mobile First - Estilos padrão para telas pequenas */
.cardContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.card {
  background-color: white;
  color: black;
  /* Ajustado aqui para o texto ficar preto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: 20px;
  width: 90%;
  /* Ajustado para ser proporcional à tela */
}

.cardsIMG {
  width: 100%;
}

.cardDescription {
  margin: 10px;
  text-align: left;
}

.linkContainer {
  padding: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.card h2 {
  width: 100%;
  border-radius: 8px 8px 0 0;
  font-size: 1.5rem;
  color: black;
  /* Definido para o título ficar preto */
}

.card span {
  font-size: 1rem;
  color: black;
  /* Cor preta para o span */
}

/* Tablets e telas maiores */
@media (min-width: 768px) {
  .cardContainer {
    flex-direction: row;
    /* Alinha os cards em uma linha horizontal */
  }

  .card h2 {
    font-size: 2rem;
  }

  .card span {
    font-size: 1.2rem;
  }
}

/* Desktops */
@media (min-width: 1024px) {
  .cardContainer {
    height: 90vh;
    /* Cards continuam preenchendo a tela */
  }

  .card h2 {
    font-size: 2.5rem;
    /* Aumenta o texto para desktops */
  }

  .card span {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .card p {
    font-size: 16px;
  }
}

/* Nova classe para o fundo da página */
.backgroundContainer {
  background-image: url('/src/assets/backgroundHome.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}