.configContainer {
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.5rem;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.option {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-size: 16px;
  margin-right: 10px;
}

.button,
.select {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.button {
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-color-hover);
}
