/* Lista de filmes */
.movies-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centralizar os cards na página */
  gap: 2rem;
  /* Espaçamento entre os cards */
}

/* Item do filme */
.movie-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #f0f0f0;
  padding: 1rem;
  /* Mantendo um bom espaçamento interno */
  border-radius: 8px;
  border: 3px solid #48148c;
  /* Mantém a borda roxa */
  max-width: 90%;
  /* Ajusta a largura dos cards para caber na tela */
  width: 800px;
  /* Largura padrão */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Pequena sombra para destaque */
  position: relative;
  /* Para posicionamento correto da bolinha */
}

#h1-ranking {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 2rem;
  /* Espaçamento inferior para separar do conteúdo */
  font-size: 2rem;
  /* Tamanho da fonte */
  /* Mantendo o destaque roxo */
}

/* Círculo da numeração do ranking */
.ranking-number {
  position: absolute;
  top: -12px;
  /* Posicionado relativo ao container */
  left: -12px;
  /* Alinhamento à esquerda do card */
  width: 50px;
  height: 50px;
  background-color: #48148c;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* Adicionar sombra para dar destaque */
}